* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.original_title {
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
    display: flex;
    justify-content: center;
}

.summary_title {
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
    display: flex;
    justify-content: center;
}

.srt {
    display: flex;
    flex-direction: row;
}

.originalTxt {
    padding: 20px;
}

.summaryTxt {
    padding: 20px;
    margin-left: 10px;
}

.heading {
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.lead {
    display: flex;
    justify-content: center;
}

.submitBtn {
    margin-top: 10px;
}